<ion-header>
  <ion-toolbar style="--background: #3897E9; text-align: center;" >
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" style="color:white" ></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <a style="color: white;  font-size: 15px;">{{'PAGES.BLUETOOTH_LE' | translate}}</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button class="buttons"  color="primary"><b style="color: black;">Click Me</b></ion-button>
</ion-content>
