<ion-header>
  <ion-toolbar>
    <ion-title>timeline2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <div>
      <div class="timeline">
        <div class="timeline-section" (click)="openRandevu(item)">
          <div class="timeline-date" style="background: #48a8e0; color: white;" >
           01.01.2023 18:30
          </div>
    
          <div class="timeline-box">
            <div class="box-title" style="background: #48a8e0;">
              <b>test</b>
            </div>
            <div class="box-content">
              <div class="box-item"><strong>test 5 :</strong> 123</div>
            </div>
            <div class="box-footer-blue"> alt kısım</div> 
          </div>              
        </div>
      </div>
    </div>
  </ion-grid>


</ion-content>
