<ion-header>
  <ion-toolbar style="--background: #3897E9; text-align: center;" >
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" style="color:white" ></ion-menu-button>
    </ion-buttons>
    <ion-title>highCharts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bar Chart - Population </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pie Chart - Browser market</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="pieChart" style="width:100%; height:400px;"></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>