<ion-header>
  <ion-toolbar style="--background: #3897E9; text-align: center;">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>highCharts3</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Desibel Chart</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <figure class="highcharts-figure">
          <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
          <p class="highcharts-description">
            Chart showing use of plot bands with a gauge series. The chart is
            updated dynamically every few seconds.
          </p>
        </figure>
      </ion-card-content>

      <div style="display: flex;background-color: white;height: 44px; align-items: center;">
        <div style="width: 20px; height: 20px; background-color:#55BF3B; border-radius: 3px; margin-left: 13px;">
        </div>
        <ion-label style="color: #72768F; font-size: 14px; margin-left: 15px;">
          0-30 desibel arası çok sessiz
        </ion-label>
      </div>

      <div style="height: 1px; width: 100%; background-color:#EAEAEA ;"></div>
      <div style="display: flex;background-color: white;height: 44px; align-items: center;">
        <div style="width: 20px; height: 20px; background-color:#DDDF0D; border-radius: 3px; margin-left: 13px;">
        </div>
        <ion-label style="color: #72768F; font-size: 14px; margin-left: 15px;">
          30-50- desibel arası sessiz,
        </ion-label>
      </div>

      <div style="height: 1px; width: 100%; background-color:#EAEAEA ;"></div>
      <div style="display: flex;background-color: white;height: 44px; align-items: center; margin-bottom: 5px;">
        <div style="width: 20px; height: 20px; background-color:#df5e0d; border-radius: 3px; margin-left: 13px;">
        </div>
        <ion-label style="color: #72768F; font-size: 14px; margin-left: 15px;">
          50-60- desibel arası orta derecede gürültülü,
        </ion-label>
      </div>

      <div style="height: 1px; width: 100%; background-color:#EAEAEA ;"></div>
      <div style="display: flex;background-color: white;height: 44px; align-items: center; margin-bottom: 5px;">
        <div style="width: 20px; height: 20px; background-color:#DF5353; border-radius: 3px; margin-left: 13px;">
        </div>
        <ion-label style="color: #72768F; font-size: 14px; margin-left: 15px;">
          60-70 desibel arası, gürültülü
        </ion-label>
      </div>

      <div style="height: 1px; width: 100%; background-color:#EAEAEA ;"></div>
      <div style="display: flex;background-color: white;height: 44px; align-items: center; margin-bottom: 5px;">
        <div style="width: 20px; height: 20px; background-color:#ff0000; border-radius: 3px; margin-left: 13px;">
        </div>
        <ion-label style="color: #72768F; font-size: 14px; margin-left: 15px;">
          70-80 desibel arası ise çok gürültü ortam olarak sınıflandırılır
        </ion-label>
      </div>

    </ion-card>
  </div>
</ion-content>